$input-primary: #d1d1d1;
$primary-color: #2979ff;
$secondary-color:#1c54b2;
$font-light:#FFFFFF;
$font-dark:#000000;
$color-error:#f50057;
$color-success:#00b503;
$light-blue:#40b1db;
$light-blue-dark:#209ccc;
$hover-color-nav:#35a9d6;
